@import "variables";
@import "bio";
@import "header";
@import "footer";
@import "main";
@import "mediaq";


* {
    margin: 0;
    padding: 0;
    background-color: black;
}

html {
    font-size: 62,5%;
}